
.flex-div{
    height: 50vh;
    width: 100%;
    display: flex;
    background-color: #20232e; 
}


.location{
    height: 91vh;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 7px;
    background-color: #20232e;
}
.location h4{
    text-align: center;
    color: #bf292a;
    font-size: 2.5vw;
    padding-top: 1%;
}
.Loc{
    height: 60vh;
    width: 40%;
    margin-left: 10%;

    background-color:#20232e ;
    
}
.Loc h6{
    
    margin-top: 1%;
    background-color: #3e4358;
    height: 6vh;
    width: 100%;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
}
.Loc h6:hover{
    color: #bf292a;
    cursor: pointer;
}
.Locationsec{
    height: 80vh;
    width: 40%;
}
.Locationsec h6{
    margin-top: 1%;
    background-color: #3e4358;
    height: 6vh;
    width: 100%;
    color: white;
    padding-left: 15px;
    padding-top: 5px;

}

.Locationsec h6:hover{
    color:#bf292a ;
}
.Logos{
    height: 17vh;
    width: 40%;
    margin-left: 30%;

    margin-top: 5%;
}
.Logos img{
    height: 17vh;
    width: 100%;
}