.Maindiv{
    height: 60vh;
    width: 95%;
    margin-left: 2.5%;
    display: flex;
}
.imagesection{
    height: 55vh;
    width: 40%;
    margin-top: 1%;
}
.imagesection img{
    height: 55vh;
    width: 100%;  
}
.paragraphsection{
    height: 60vh;
    width: 60%;
    padding-top: 1.5%;
    text-align: justify;
}
.paragraphsection p{
    font-size: 19px;   
    line-height: 2.5vw;
    color: black;
    margin-left: 2vh;
    margin-right: 2vh;
}