.imp{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #20232e;
    color: white;
}
.imp h2{
    color: #bf292a;
    padding-bottom: 2%;
}
.imp p:hover{
color: #bf292a;
cursor: pointer;
}



    