.seconddiv {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#9e0105;
  }
  
  .seconddiv h1 {
    color: white;
    margin-left: 5%;
    margin-top: 3%;
  }
  
 .seconddiv h5{
  margin-left: 5%;
  color: white;
 }

 .seconddiv h5 a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
 }

  